$pink-color: #e92569;
$light-gray-color: #efefef;
$gray-color: #c7c7c7;
$dark-grey-color: #767676;
$dark-color: #0a0a0a;

@import "partials/nav";
@import "partials/layout";
@import "partials/form";
@import "partials/container";